.root {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.header:global(.__wab_instance) {
  position: relative;
}
.freeBox__fas1P {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
  margin-bottom: 0px;
  background: linear-gradient(#22222230, #22222230),
    url("./images/marketing37247971920Jpg.jpg") left 0% top 50% / cover no-repeat fixed;
  min-width: 0;
  padding: 8px;
}
.freeBox__u33OM {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  align-content: unset;
  background: none;
  max-width: 1380px;
  min-width: 0;
  padding: 180px 50px;
}
@media (max-width: 768px) {
  .freeBox__u33OM {
    padding-bottom: 61px;
    padding-top: 60px;
  }
}
.foreground2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 746px;
  align-self: flex-end;
  background: #0000006b;
  box-shadow: 0px 4px 16px 0px #00000033;
  min-width: 0;
  padding: 30px;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__qp7P {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__qp7P > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__qp7P > :global(.__wab_flex-container) > *,
.freeBox__qp7P > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qp7P > :global(.__wab_flex-container) > picture > img,
.freeBox__qp7P
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h1 {
  padding-top: 0px;
  padding-bottom: 0px;
  color: var(--token-z3cUQQVH9rEK);
  text-align: left;
}
@media (max-width: 768px) {
  .h1 {
    font-size: 32px;
  }
}
.text__vMv8P {
  position: relative;
  height: auto;
  max-width: 731px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  width: 100%;
  margin-top: calc(5px + 16px) !important;
  color: var(--token-z3cUQQVH9rEK);
  min-width: 0;
}
@media (max-width: 768px) {
  .text__vMv8P {
    font-size: 16px;
    margin-top: calc(5px + 16px) !important;
  }
}
.freeBox__h840M {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__h840M > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__h840M > :global(.__wab_flex-container) > *,
.freeBox__h840M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__h840M > :global(.__wab_flex-container) > picture > img,
.freeBox__h840M
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__fif69 {
  background: var(--token-z3cUQQVH9rEK);
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  width: auto;
  height: 100%;
  left: auto;
  top: auto;
  align-self: center;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  min-height: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6em;
  padding: 16px 34px;
  border: 1px solid transparent;
}
.button__fif69 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.button__fif69 > :global(.__wab_flex-container) > *,
.button__fif69 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.button__fif69 > :global(.__wab_flex-container) > picture > img,
.button__fif69
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__diBd7 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text___2NbOc {
  color: var(--token-AqVJ1IUt72T5);
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
}
.svg__lMmUf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox__dpVj {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-wrap: wrap;
  align-content: center;
  min-width: 0;
  padding: 50px 8px;
}
.columns__yvPom {
  display: flex;
  position: relative;
  flex-shrink: 1;
  flex-direction: row;
  flex-grow: 0;
  width: 1380px;
  background: none;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns__yvPom > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  margin-left: calc(0px - 14px);
  width: calc(100% + 14px);
  --plsmc-rc-col-gap: 14px;
}
.columns__yvPom > :global(.__wab_flex-container) > *,
.columns__yvPom > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__yvPom > :global(.__wab_flex-container) > picture > img,
.columns__yvPom
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 14px;
}
.columns__yvPom > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__yvPom > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__yvPom > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 768px) {
  .columns__yvPom {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns__yvPom > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns__yvPom > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__wFw9T {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img___0OrCk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  margin-top: 170px;
  min-width: 0;
  min-height: 0;
}
.img___0OrCk > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .img___0OrCk {
    margin-top: 0px;
    height: 237px;
    flex-shrink: 0;
  }
}
.column__tr2MX {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__wE1S {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  margin-top: 3px;
  min-width: 0;
  min-height: 0;
}
.img__wE1S > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .img__wE1S {
    height: 292px;
    margin-top: 28px;
    flex-shrink: 0;
  }
}
.column__yVmVs {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 768px) {
  .column__yVmVs {
    padding: 11px 30px 30px;
  }
}
.freeBox___5V1SL {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___5V1SL > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox___5V1SL > :global(.__wab_flex-container) > *,
.freeBox___5V1SL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5V1SL > :global(.__wab_flex-container) > picture > img,
.freeBox___5V1SL
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.h2__tU9Rc {
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  min-width: 0;
}
.text__gv4G5 {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  min-width: 0;
}
.freeBox__n9J9H {
  display: flex;
  position: relative;
  flex-direction: row;
  align-self: flex-start;
  padding-left: 0px;
}
.freeBox__n9J9H > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__n9J9H > :global(.__wab_flex-container) > *,
.freeBox__n9J9H > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__n9J9H > :global(.__wab_flex-container) > picture > img,
.freeBox__n9J9H
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button___4Gn3G {
  background: var(--token-AqVJ1IUt72T5);
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  width: auto;
  height: 100%;
  left: auto;
  top: auto;
  align-self: center;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  min-height: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6em;
  padding: 16px 34px;
  border: 1px solid transparent;
}
.button___4Gn3G > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.button___4Gn3G > :global(.__wab_flex-container) > *,
.button___4Gn3G > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.button___4Gn3G > :global(.__wab_flex-container) > picture > img,
.button___4Gn3G
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__kMsfO {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__zuSpX {
  color: var(--token-z3cUQQVH9rEK);
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
}
.svg__sX8Co {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox__z8Jbn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 125px 8px 8px;
}
.freeBox___6LmZa {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 1380px;
  min-width: 0;
}
.columns___1Vj2F {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
}
.columns___1Vj2F > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
  --plsmc-rc-col-gap: 30px;
}
.columns___1Vj2F > :global(.__wab_flex-container) > *,
.columns___1Vj2F > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___1Vj2F > :global(.__wab_flex-container) > picture > img,
.columns___1Vj2F
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
}
.columns___1Vj2F > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns___1Vj2F > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns___1Vj2F > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (max-width: 768px) {
  .columns___1Vj2F {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns___1Vj2F > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (max-width: 768px) {
  .columns___1Vj2F > :global(.__wab_flex-container) > *,
  .columns___1Vj2F > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns___1Vj2F > :global(.__wab_flex-container) > picture > img,
  .columns___1Vj2F
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  .columns___1Vj2F > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__p5Ljn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(#0d4b6deb, #0d4b6deb),
    url("./images/handG176868E991920Jpg.jpg") top 50% left 50% / cover repeat;
  min-width: 0;
  padding: 30px;
}
.column__p5Ljn > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
@media (max-width: 768px) {
  .column__p5Ljn > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (max-width: 768px) {
  .column__p5Ljn > :global(.__wab_flex-container) > *,
  .column__p5Ljn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .column__p5Ljn > :global(.__wab_flex-container) > picture > img,
  .column__p5Ljn
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.freeBox__asY30 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 400px;
  min-width: 0;
  padding: 8px;
}
.freeBox__asY30 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__asY30 > :global(.__wab_flex-container) > *,
.freeBox__asY30 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__asY30 > :global(.__wab_flex-container) > picture > img,
.freeBox__asY30
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.h2__zJnUp {
  position: relative;
  color: var(--token-z3cUQQVH9rEK);
}
.freeBox__zCb71 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 1px;
  max-width: 100%;
  margin-top: calc(0px + 20px) !important;
  align-self: flex-start;
  flex-shrink: 0;
  padding: 0px;
  border-top: 2px solid var(--token-z3cUQQVH9rEK);
}
.text__aWo0N {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 20px) !important;
  color: var(--token-z3cUQQVH9rEK);
  min-width: 0;
}
.column__xZpt0 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(#314f56e0, #314f56e0),
    url("./images/headerBg6Jpg.jpg") top 50% left 50% / cover repeat;
  min-width: 0;
  padding: 30px;
}
.freeBox__iFg4T {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 400px;
  min-width: 0;
  padding: 8px;
}
.freeBox__iFg4T > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__iFg4T > :global(.__wab_flex-container) > *,
.freeBox__iFg4T > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iFg4T > :global(.__wab_flex-container) > picture > img,
.freeBox__iFg4T
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.h2__opqRn {
  position: relative;
  color: var(--token-z3cUQQVH9rEK);
}
.freeBox__tJ6 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 1px;
  max-width: 100%;
  margin-top: calc(0px + 20px) !important;
  align-self: flex-start;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  flex-shrink: 0;
  padding: 0px;
  border-top: 2px solid var(--token-z3cUQQVH9rEK);
}
.text__vQMcA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 20px) !important;
  padding-top: 0px;
  color: var(--token-z3cUQQVH9rEK);
  min-width: 0;
}
.column___85C4U {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(#141616ed, #141616ed),
    url("./images/handG176868E991920Jpg.jpg") top 50% left 50% / cover repeat;
  min-width: 0;
  padding: 30px;
}
.freeBox__nvfYd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 400px;
  min-width: 0;
  padding: 8px;
}
.freeBox__nvfYd > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__nvfYd > :global(.__wab_flex-container) > *,
.freeBox__nvfYd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nvfYd > :global(.__wab_flex-container) > picture > img,
.freeBox__nvfYd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.h2__qHfM8 {
  position: relative;
  color: var(--token-z3cUQQVH9rEK);
}
.freeBox__d4NL {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 1px;
  max-width: 100%;
  margin-top: calc(0px + 20px) !important;
  align-self: flex-start;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  flex-shrink: 0;
  padding: 0px;
  border-top: 2px solid var(--token-z3cUQQVH9rEK);
}
.text__mu5Ei {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 20px) !important;
  color: var(--token-z3cUQQVH9rEK);
  min-width: 0;
}
.freeBox___1GVcv {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: var(--token-z3cUQQVH9rEK);
  width: 100%;
  min-width: 0;
  padding: 63px 64px 83px;
}
@media (max-width: 768px) {
  .freeBox___1GVcv {
    width: 100%;
    min-width: 0;
    padding: 42px 32px 46px;
  }
}
.freeBox__ucBnp {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1380px;
}
.freeBox__ucBnp > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__ucBnp > :global(.__wab_flex-container) > *,
.freeBox__ucBnp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ucBnp > :global(.__wab_flex-container) > picture > img,
.freeBox__ucBnp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
  margin-top: 32px;
}
@media (max-width: 768px) {
  .freeBox__ucBnp {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .freeBox__ucBnp > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 768px) {
  .freeBox__ucBnp > :global(.__wab_flex-container) > *,
  .freeBox__ucBnp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ucBnp > :global(.__wab_flex-container) > picture > img,
  .freeBox__ucBnp
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox__uIo9U {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #f4f4f4;
  width: 100%;
  box-shadow: none;
  min-width: 0;
  border-radius: 16px;
  padding: 24px;
}
.freeBox__uIo9U > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__uIo9U > :global(.__wab_flex-container) > *,
.freeBox__uIo9U > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uIo9U > :global(.__wab_flex-container) > picture > img,
.freeBox__uIo9U
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__voas5 {
  position: relative;
  left: auto;
  top: auto;
  width: 140px;
  height: 140px;
  align-self: center;
  flex-shrink: 0;
  border-radius: 50%;
}
.freeBox__mzSGi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__mzSGi > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__mzSGi > :global(.__wab_flex-container) > *,
.freeBox__mzSGi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mzSGi > :global(.__wab_flex-container) > picture > img,
.freeBox__mzSGi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__gkZ1X {
  align-self: center;
  text-align: center;
}
.freeBox__aYudf {
  display: flex;
  position: relative;
  flex-direction: row;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__aYudf > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__aYudf > :global(.__wab_flex-container) > *,
.freeBox__aYudf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aYudf > :global(.__wab_flex-container) > picture > img,
.freeBox__aYudf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__caCbA {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  align-self: center;
  width: 100%;
  min-width: 0;
}
.freeBox__caCbA > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__caCbA > :global(.__wab_flex-container) > *,
.freeBox__caCbA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__caCbA > :global(.__wab_flex-container) > picture > img,
.freeBox__caCbA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.freeBox___45Mey {
  display: flex;
  position: relative;
  flex-direction: column;
  height: auto;
}
.text___5Ny3N {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: var(--token-AqVJ1IUt72T5);
  font-family: "Inter", sans-serif;
}
.text__ql1BJ {
  font-size: 16px;
  color: #05050599;
  line-height: 1.6;
  text-align: center;
  font-family: "Inter", sans-serif;
}
.freeBox__ifKbY {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #f4f4f4;
  width: 100%;
  box-shadow: none;
  min-width: 0;
  border-radius: 16px;
  padding: 24px;
}
.freeBox__ifKbY > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__ifKbY > :global(.__wab_flex-container) > *,
.freeBox__ifKbY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ifKbY > :global(.__wab_flex-container) > picture > img,
.freeBox__ifKbY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__odJfh {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 140px;
  height: 140px;
  flex-shrink: 0;
  border-radius: 50%;
}
.img__odJfh > picture > img {
  object-fit: cover;
}
.freeBox___1BD {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox___1BD > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___1BD > :global(.__wab_flex-container) > *,
.freeBox___1BD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1BD > :global(.__wab_flex-container) > picture > img,
.freeBox___1BD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__sSzSf {
  text-align: center;
}
.freeBox__qSCyW {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__qSCyW > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__qSCyW > :global(.__wab_flex-container) > *,
.freeBox__qSCyW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qSCyW > :global(.__wab_flex-container) > picture > img,
.freeBox__qSCyW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.freeBox__tbRCk {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
}
.freeBox__tbRCk > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__tbRCk > :global(.__wab_flex-container) > *,
.freeBox__tbRCk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tbRCk > :global(.__wab_flex-container) > picture > img,
.freeBox__tbRCk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.freeBox__bjEo {
  display: flex;
  position: relative;
  flex-direction: column;
  height: auto;
}
.text__ofa8T {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  color: var(--token-AqVJ1IUt72T5);
  text-align: center;
}
.text___5PjWo {
  font-size: 16px;
  color: #05050599;
  line-height: 1.6;
  font-family: "Inter", sans-serif;
  text-align: center;
}
.freeBox___8MpOv {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #f4f4f4;
  width: 100%;
  box-shadow: none;
  min-width: 0;
  border-radius: 16px;
  padding: 24px;
}
.freeBox___8MpOv > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___8MpOv > :global(.__wab_flex-container) > *,
.freeBox___8MpOv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8MpOv > :global(.__wab_flex-container) > picture > img,
.freeBox___8MpOv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img___8LmYe {
  position: relative;
  left: auto;
  top: auto;
  width: 140px;
  height: 140px;
  flex-shrink: 0;
  border-radius: 50%;
}
.freeBox__aSe2W {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__aSe2W > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__aSe2W > :global(.__wab_flex-container) > *,
.freeBox__aSe2W > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aSe2W > :global(.__wab_flex-container) > picture > img,
.freeBox__aSe2W
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__m3M5W {
  text-align: center;
}
.freeBox__xjSoQ {
  display: flex;
  position: relative;
  flex-direction: row;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__xjSoQ > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__xjSoQ > :global(.__wab_flex-container) > *,
.freeBox__xjSoQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xjSoQ > :global(.__wab_flex-container) > picture > img,
.freeBox__xjSoQ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__xeuDn {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__xeuDn > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__xeuDn > :global(.__wab_flex-container) > *,
.freeBox__xeuDn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xeuDn > :global(.__wab_flex-container) > picture > img,
.freeBox__xeuDn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.freeBox__ann3O {
  display: flex;
  position: relative;
  flex-direction: column;
  height: auto;
}
.text__twixh {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  color: var(--token-AqVJ1IUt72T5);
  text-align: center;
}
.text__z4HNs {
  font-size: 16px;
  color: #05050599;
  line-height: 1.6;
  font-family: "Inter", sans-serif;
  text-align: center;
}
.freeBox__wuE84 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: url("./images/handG176868E991920Jpg.jpg") right 0% top 50% / cover no-repeat fixed;
  min-width: 0;
  padding: 8px;
}
.freeBox__gFpV {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 588px;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 768px) {
  .freeBox__gFpV {
    height: 278px;
  }
}
.homeFooterTop:global(.__wab_instance) {
  position: relative;
}
.footerMain:global(.__wab_instance) {
  position: relative;
  align-self: auto;
}
